@charset "utf-8";
/* Table Styles */

table,td{
    border:1px solid black;
    text-align: center;
    width: 38.6%;
    background-color: rgb(245,238,228);
}
img{
    width: 200px;
    height: 250px;
}
.red{
    color: white;
    font-weight: bold;
    background-color: red;

}
#overhere{
    padding: 10px;
    border: 2px solid black;

}
#fr{
    width:11px;
    padding: 5px;
}